* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general utilities*/
.container {
    width: 75%;
    max-width: 1170px;
    margin: auto;
    background-color: aqua;
    height: 250px;
}

.row {
    display: flex;
    background-color: rgb(13, 183, 86);
    height: 300px;
    justify-content: center;
    align-items: center;
}


.col {
    background-color: red;
    width: 80%;
    height: 80%;
    margin: 1rem;
}

/* end general utilities*/








/*header utilities*/

.image {
    background-color: red;
    height: 25px;
    width: 15%;
}

.menu {
    background-color: red;
    width: 80%;
    height: 25px;
    width: 70%;
}

.endm {
    background-color: red;
    height: 25px;
    width: 15%;
}

.rowh {
    display: flex;
    background-color: blue;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.containerh {
    width: 75%;
    max-width: 1170px;
    margin: auto;
    background-color: aqua;
    height: 350px;
}

header {
    background-color: bisque;
    height: 350px
}

.rowhb{
    display: flex;
    background-color: rgb(13, 183, 86);
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 70px;

}


/* end header utilities*/