* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general utilities*/
.container {
   
    width: 950px;
    max-width: 1170px;
    margin: auto;
    background-color: aqua;
    height: 300px;
    padding-top: 4rem;
}

.row {
    display: flex;
    background-color: rgb(13, 183, 86);
    height: 70%;
    justify-content: center;
    align-items: center;
}


.col {
    background-color: red;
    width: 80%;
    height: 80%;
    margin: auto;
}

section {
    background-color: white;
    height: 550px;
    border: 1px solid black;
    padding-top: 1rem;
}

/* end general utilities*/


/* first 3 col*/
.col1, .col2{
    border: 1px solid black;
}

.col1{
    width: 70%;
    background-color: red;
    height: 80%;

}

.col2{
    width: 30%;
    background-color: red;
    height: 80%;
}

/* end first 3 col*/

/*big container*/
.containerbig {
    width: 950px;
    max-width: 1170px;
    margin: auto;
    background-color: aqua;
    height: 700px;
    padding-top: 4rem;
}

.big{
    background-color: white;
    height: 850px;
    border: 1px solid black;
    padding-top: 1rem;
}
/* end big container*/

/*header utilities*/

.image {
    background-color: red;
    height: 25px;
    width: 15%;
}

.menu {
    background-color: red;
    width: 80%;
    height: 25px;
    width: 70%;
}

.endm {
    background-color: red;
    height: 25px;
    width: 15%;
}

.rowh {
    display: flex;
    background-color: blue;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.containerh {
    width: 75%;
    max-width: 1170px;
    margin: auto;
    background-color: aqua;
    height: 350px;
}

header {
    background-color: bisque;
    height: 350px
}

.rowhb {
    display: flex;
    background-color: ;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 70px;

}
/* end header utilities*/

/*center section*/
.centeredsec{
    background-color: white;
    height: 550px;
    border: 1px solid black;
    padding: 7.5em;;
}
/* end center section*/